
    /* Margin untuk kolom */

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);  
    
  }

.container > div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items; center;
    padding: 20px 0;
    font-size: 30px;
    vertical-align: middle;
    border: 1px solid #000000;
}

    /* Box box untuk warna */

    /* 1 : Kuning
      2 : Hitam
      3 : Hijau
      4 : Coklat
      5 : Pink
      6 : Biru
      7 : Merah
      8 : Putih
      9 : Ungu
      10 : Biru Tua
      11 : Abu
      12 : Orange*/

  .box1 {
    grid-row: 1;
    grid-column: 1;
 } /* Kuning */

 .box2 {
    grid-column: 2 / span 3;
 } /* Hitam (3 kolom disatukan) */

 .box3 {
    grid-row: 2;
    grid-column: 1;
} /* Hijau (baris ke-2, kolom ke-1) */


.box4 {
    grid-row: 2;
    grid-column: 2;
} /* Coklat (baris ke-2, kolom ke-2*/


.box5 {
    grid-row: 2 / span 2;
    column: 3;
} /* Pink (baris ke-2, kolom ke-3) 2 kolom disatukan*/


.box6 {
    grid-row: 2;
    grid-column: 4;
} /* Biru (baris ke-2, kolom ke-4)*/

.box7 {
    grid-row: 3;
    grid-column: 1;
} /* Merah */

.box8{
  grid-row: 3;
  grid-column: 2;
} /* Putih */

.box9{
  grid-row: 3 / span 4;
  column: 4;
} /* Ungu */

.box10{
  grid-row: 4 / span 3;
  grid-column: 1;
} /* Biru Tua */

.box11{
  grid-row: 4 / span 2;
  grid-column: 2 / span 2;
} /* Abu */

.box12{
  grid-column: 2 / span 2;
  grid-row: 
  grid-column: ;
} /* Oren */



  /* Label dan teks */
  
  .label {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .hitam-text { color: black; }
  .putih-text { color: white; }
  
  /* Warna Latar Belakang */
  .kuning { background-color: #FFFF00; }
  .hijau { background-color: #00AF50;}
  .merah { background-color: #FE0000;}
  .coklat { background-color: #833D0C;}
  .putih { background-color: #f0f0f0;}
  .biru { background-color: #01B0F1;}
  .hitam { background-color: #000000;}
  .pink { background-color: #FF66FF;}
  .birutua { background-color: #0071C1;} 
  .abu { background-color: #A6A6A6;}
  .oren { background-color: #FFC000;;}
  .ungu {background-color: #7030A0;}
